.card{
    background-color: var(--bg-highlight);
    padding: 20px;
    /* box-shadow: 0 4px 8px var(--box-shadow); */
    transition: box-shadow 0.5s ease-in-out;
    text-align: center;
    width: 90%;

    &:hover{
        box-shadow: 0 8px 10px var(--box-shadow);
    }

    @media only screen and (max-width: 1024px){
        width: 95%;
        padding: 15px;
    }

    .image-wrapper{
        position: relative;
        height: 300px;
        overflow: hidden;
        margin-bottom: 10px;

        .slide{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            transition: opacity 1s ease-in-out;

            &.active{
                opacity: 1;
            }

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .caption{
                font-size: 1.8rem;
                position: relative;
                bottom: 25%;
                left: 10px;
                font-weight: 500;
                background-color: var(--box-shadow);
                color: #fff;
                padding: 5px 10px;
                border-radius: 5px;
                width: fit-content;
            }
        }
    }

    h3{
        color: var(--gold-brass);
        font-size: 2rem;
    }

    @media only screen and (max-width: 1024px) {
        .image-wrapper{
            height: 250px;

            slide{
                .caption{
                    font-size: 1.6rem;
                    bottom: 20%;
                    left: 8px;
                    padding: 4px 8px;
                }
            }
        }

        h3{
            font-size: 1.8rem;
        }
    }

    @media (max-width: 768px) {
        .image-wrapper {
          height: 200px;
    
          .slide {    
            .caption {
              font-size: 1.4rem;
              bottom: 25%;
              left: 5px;
              padding: 3px 6px;
            }
          }
        }
    
        h3 {
          font-size: 1.6rem;
        }
    }
}