.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 5px 0;
    background-color: white;
    box-shadow: 0 4px 2px var(--box-shadow);
    position: sticky;
    top: 0.1px;
    z-index: 9;

    .logo img{
        width: 100%;
        height: 150px;
        object-fit: fill;
    }

    .header-title{
        width: 30%;

        h1{
            font-size: 2.5rem;
            color: var(--gold-brass);
            text-align: center;

            .capital{
                font-size: 2.5rem;
                text-transform: uppercase;
            }
        }
    }

    .search-nav{
        display: flex;
        flex-direction: column;
        gap: 30px;

        .searchbar{
            width: 100%;
            display: flex;
            gap: 5px;

            input{
                width: 90%;
                height: 45px;
                padding: 10px 5px;
                border: 1px solid black;
                font-size: 1.6rem;
            }

            button{
                border: none;
                outline: none;
                background-color: var(--logo-blue);
                color: white;
                font-weight: 500;
                cursor: pointer;
                padding: 10px 15px;
                font-size: 1.6rem;
            }
        }

        .nav-links{
            display: flex;
            background-color: var(--logo-blue);
            padding: 10px 15px;
    
            .links-list{
                display: flex;
                gap: 10px;
    
                .links-list-item{
                    color: white;
                    font-weight: 600;
                    position: relative;

                    a{
                        font-size: 1.6rem;
                    }
    
                    &:hover{
                        color: var(--dark-blue);
                    }
    
                    &.expertise-container:hover .expertise-dropdown,
                    &.services-container:hover .services-dropdown
                    {
                        display: block;
                    }                    
                }
            }
    
            .expertise-dropdown, .services-dropdown{
                display: none;
                position: absolute;
                background: linear-gradient(135deg, white 60%, var(--logo-blue) 100%);
                border-radius: 5px;
                padding: 10px;
                z-index: 10;
                box-shadow: 0 0 6px 4px var(--logo-blue-faded);
                
                ul{
                    display: flex;
                    flex-wrap: wrap;
                    width: 400px;
    
                    li{
                        padding: 8px 16px;
                        color: var(--logo-blue);
                        font-weight: 500;
                        border-radius: 8px;
                        font-size: 1.6em;
        
                        &:hover{
                            color: var(--dark-blue);
                        }
                    }
                }
            }
        }
    }

}