.homePage{
    padding: 10px 0;
    color: var(--text-primary);

    .hero-overlay{
        text-align: center;
        width: max-content;
        position: absolute;
        top: 500px;
        left: 40px;
        padding: 5px;
        background: linear-gradient(135deg, transparent 25%, var(--steel-gray) 100%);
        z-index: 2;
        color: #fff;

        h1{
            font-size: 2.4rem;
        }

        p{
            font-size: 1.8rem;
            font-weight: 500;
            color: #e7e7e7;
        }
    }

    section{
        padding: 20px;
        text-align: center;

        h2{
            color: var(--logo-blue);
            font-size: 2.4rem;
        }
    }

    .about-us, .services{
        p{
            color: var(--text-secondary);
            font-size: 2rem;
        }
    }

    .services{
        background-color: var(--bg-highlight);
              
        .cards{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(4, auto);
            gap: 20px;
            justify-items: center;
        }
    }

    .values{
        .value-boxes{
            display: flex;
            flex-direction: column;
            gap: 20px;

            .value-box:nth-of-type(2), .value-box:nth-of-type(4){
                flex-direction: row-reverse;
            }

            .value-box{
                display: flex;
                align-items: start;
                justify-content: space-around;
                gap: 5px;

                .value-img{
                    width: 600px;

                    img{
                        width: 100%;
                        height: 350px;
                        object-fit: cover;
                        border-radius: 8px;
                        transition: transform 0.5s ease;

                        &:hover{
                            transform: scale(1.05);
                        }
                    }
                }

                .value-content{
                    text-align: left;

                    h3{
                        color: var(--gold-brass);
                        font-size: 2rem;
                    }

                    ul{
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        list-style-type: disc;
                        position: relative;
                        left: 20px;
                        padding-right: 5px;
                        
                        li{
                            color: var(--logo-blue);
                            font-size: 1.8rem;
                        }
                    }
                }
            }
        }
    }
    
    @media only screen and (max-width: 1024px){
        .hero-overlay{
            top: 425px;
            left: 45px;
    
            h1{
                font-size: 2.2rem;
            }
        }

        section:not(section:first-of-type){
            h2{
                font-size: 2.2rem;
            }
        }

        .about-us, .services{
            p{
                font-size: 1.8rem;
            }
        }        

        .values .value-boxes{
            .value-box{  
                gap: 20px;

                .value-img{
                    width: 75%;
                    
                    img{
                        height: 300px;
                    }
                }

                .value-content{
                    width: 55%;
                    
                    h3{
                        font-size: 1.8rem;
                    }

                    ul li{
                        font-size: 1.6rem;
                    }
                }
            }
        }
    }

    @media only screen and (max-width: 900px){
        .hero-overlay{
            top: 425px;
        }

        .values{
            .value-boxes{
                .value-box{
                    .value-img{
                        width: 65%;

                        img{
                            height: 250px;
                        }
                    }

                    .value-content{
                        padding-right: 3px;
                    }
                }
            }
        }
    }

    @media only screen and (max-width: 884px) {
      .hero-overlay{
        top: 530px;
      }
    }

    @media only screen and (max-width: 768px) {
        .hero-overlay {
          top: 510px;
          left: 30px;

          h1{
            font-size: 1.8rem;
          }

          p{
            font-size: 1.4rem;
          }
        }
      
        section {
          padding: 15px;
      
          h2 {
            font-size: 2rem;
          }
        }
      
        .about-us, .services {
          p {
            font-size: 1.6rem;
          }
        }
      
        .services {
          .cards {
            grid-template-columns: 1fr;
            gap: 15px;
          }
        }
      
        .values {
          .value-boxes {
            gap: 15px;
      
            .value-box {
      
              .value-img {
                width: 100%;

                img {
                  height: 200px;
                }
              }
      
              .value-content {
                width: 100%;
                padding: 0;
      
                h3 {
                  font-size: 1.6rem;
                }
      
                ul {
                  left: 15px;
      
                  li {
                    font-size: 1.4rem;
                  }
                }
              }
            }
          }
      }
    }

    @media only screen and (max-width: 460px){
      .hero-overlay{
        top: 520px;
        left: 5px;

        h1{
          font-size: 1.7rem;
        }

        p{
          font-size: 1.4rem;
        }
      }
    }

    @media only screen and (max-width: 436px){
      .hero-overlay{
        top: 530px;
        left: 15px;

        h1{
          font-size: 1.65rem;
        }

        p{
          font-size: 1.25rem;
        }
      }
    }
        
    @media only screen and (max-width: 400px){
      .hero-overlay {
        top: 490px;
        left: 10px;

        h1{
          font-size: 1.6rem;
        }

        p{
          font-size: 1.2rem;
        }
      }
    }

    @media only screen and (max-width: 384px) {
      .hero-overlay {
        top: 500px;
        left: 8px;
        padding: 2px;
  
        h1 {
          font-size: 1.5rem;
        }

        p{
          font-size: 1.15rem;
        }
      }
    }

    @media only screen and (max-width: 360px) {
        .hero-overlay {
          top: 480px;
          left: 5px;
          padding: 1px;
    
          h1 {
            font-size: 1.35rem;
          }

          p{
            font-size: 1.05rem;
          }
        }
    
        section {
          padding: 10px;
    
          h2 {
            font-size: 1.8rem;
          }
        }
    
        .about-us,
        .services {
          p {
            font-size: 1.4rem;
          }
        }
    
        .services {
          .cards {
            grid-template-columns: 1fr;
            gap: 10px;
          }
        }
    
        .values {
          .value-boxes {
            gap: 10px;
    
            .value-box {
              gap: 10px;
    
              .value-img {
                width: 100%;
    
                img {
                  height: 180px;
                }
              }
    
              .value-content {
                width: 100%;
                padding: 0;
    
                h3 {
                  font-size: 1.4rem;
                }
    
                ul {
                  left: 10px;
    
                  li {
                    font-size: 1.2rem;
                  }
                }
              }
            }
          }
        }
    }
  @media only screen and (max-width: 330px){
    .hero-overlay{
      padding: 2px;
      left: 3px;

      h1 {
        font-size: 1.3rem;
      }

      p {
        font-size: 1rem;
      }
    }
  }

  @media only screen and (max-width: 324px){
    .hero-overlay {
      top: 440px;

      h1 {
        font-size: 1.2rem;
      }

      p {
        font-size: 0.95rem;
      }
    }
  }
}