.aboutUsPage{
    font-size: 1.6rem;
    color: var(--text-primary);
    line-height: 1.6;
    padding: 10px 0;

    @media only screen and (max-width: 900px){
        font-size: 1.4rem;
    }

    @media only screen and (max-width: 768px){
        font-size: 1.2rem;
    }

    .hero-section{
        background: linear-gradient(155deg, var(--dark-blue) 0%, var(--dark-blue) 45%, var(--steel-gray) 85%, var(--steel-gray) 100%);
        /* background-color: var(--logo-blue); */
        color: #fff;
        padding: 60px 20px;
        text-align: center;
        margin-bottom: 40px;

        .hero-content{
            h1{
                font-size: 3.6rem;
                margin: 0;
            }

            p{
                font-size: 2rem;
                margin: 10px 0 0;
                font-weight: 500;
            }
        }
    }

    .company-overview, .goals, .values, .impact, .team{
        margin: 40px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        color: var(--text-primary);

        h2{
            font-size: 2.4rem;
            margin-bottom: 20px;
            color: var(--logo-blue);
        }

        p{
            font-size: 1.8em;
            margin: 0;
            max-width: 800px;
            font-weight: 500;
        }
    }

    .content-wrapper, .goal-content, .impact-content{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
        max-width: 1000px;
    }

    .image-wrapper{
        max-width: 500px;

        img{
            width: 100%;
            height: 400px;
            object-fit: cover;
            border-radius: 8px;
            box-shadow: 0 4px 10px var(--box-shadow);
            transition: transform 0.5s ease;

            &:hover{
                transform: scale(1.05);
            }
        }
    }

    .text-content{
        max-width: 600px;
    }

    .goals{
        background-color: var(--bg-highlight);
        padding: 20px;

        .goal-content{
            .goal{
                flex: 1 1 400px;

                h3{
                    color: var(--gold-brass);
                    font-size: 2rem;
                    margin-bottom: 10px;
                }
            }
        }
    }

    .values{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        .values-list{
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: center;
            max-width: 1000px;

            li{
                background-color: var(--bg-dark);
                padding: 20px;
                /* box-shadow: 0 4px 10px var(--box-shadow); */
                border-radius: 8px;
                flex:  1 1 400px;
                min-width: 300px;
                text-align: left;
                display: flex;
                flex-direction: column;
                gap: 15px;

                h3{
                    font-size: 2rem;
                    color: var(--gold-brass);
                    margin-bottom: 10px;
                }
            }
        }
    }

    .impact{
        background-color: var(--bg-highlight);
        padding: 20px;
        text-align: center;
    }

    .team{
        display: flex;
        flex-direction: column;
        gap: 20px;
        
        .team-cards{
            display: flex;
            flex-wrap: wrap;
            gap: 50px;
            align-items: center;

            .team-card{
                background-color: var(--bg-dark);
                padding: 10px;
                /* box-shadow: 0 4px 10px var(--box-shadow); */
                border-radius: 10px;
                max-width: 280px;
                transition: transform 0.5s ease;

                &:hover{
                    transform: scale(1.1);
                }

                img{
                    width: 100%;
                    height: 300px;
                    object-fit: contain;
                    margin-bottom: 15px;
                }

                h3{
                    font-size: 2rem;
                    color: var(--gold-brass);
                    text-align: center;
                }
                
                p{
                    font-size: 1.6em;
                    line-height: 1.4;
                }
            }
        }
        
        .office-slides{
            display: flex;
            gap: 30px;

            .factory-workers, .employees{
                width: 480px;

                h3{
                    font-size: 1.8rem;
                    color: var(--gold-brass);
                }
            }

            .slideshow-container{
                &.about-us{
                    width: 100%;
                    margin: auto;
                    max-height: 400px;

                    @media only screen and (max-width: 520px){
                        width: 350px;
                        height: 250px;

                        .slide{
                            height: 250px;
                            
                            img{
                                height: 250px;
                                width: 350px;
                            }
                        }
                    }
        
                    .slide-arrow{
                        display: none;
                    }
                }
            }
        }
    }

    @media only screen and (max-width: 1024px) {
        .hero-section {
            padding: 50px 15px;

            .hero-content h1 {
                font-size: 3rem;
            }

            .hero-content p {
                font-size: 1.8rem;
            }
        }

        .company-overview,
        .goals,
        .values,
        .impact,
        .team {
            h2 {
                font-size: 2.2rem;
            }

            p {
                font-size: 1.6rem;
            }
        }

        .content-wrapper,
        .goal-content,
        .impact-content {
            flex-direction: column;
        }

        .image-wrapper{
            margin: 0 auto;
            max-width: 400px;

            img{
                height: 350px;
            }
        }

        .team .team-cards {
            gap: 40px;
        }

        .team .office-slides {
            flex-direction: column;
            align-items: center;

            .factory-workers, .employees {
                width: 450px;
            }
        }

        .slideshow-container.about-us {
            height: 350px;
        }
    }
    
    @media only screen and (max-width: 900px) {
        .hero-section {
            padding: 40px 15px;

            .hero-content h1 {
                font-size: 2.8rem;
            }

            .hero-content p {
                font-size: 1.6rem;
            }
        }

        .company-overview,
        .goals,
        .values,
        .impact,
        .team {
            h2 {
                font-size: 2rem;
            }

            p {
                font-size: 1.4rem;
            }
        }

        .image-wrapper img {
            height: 300px;
        }

        .team .team-cards {
            gap: 20px;

            .team-card img {
                height: 250px;
            }

            h3 {
                font-size: 1.8rem;
            }
        }

        .values .values-list li {
            min-width: 280px;
        }

        .slideshow-container.about-us {
            height: 300px;
            width: 400px;

            .slide{
                height: 300px;

                img{
                    height: 300px;
                }
            }
        }
    }
    
    @media only screen and (max-width: 768px) {
        .hero-section {
            padding: 30px 10px;

            .hero-content h1 {
                font-size: 2.4rem;
            }

            .hero-content p {
                font-size: 1.4rem;
            }
        }

        .company-overview,
        .goals,
        .values,
        .impact,
        .team {
            h2 {
                font-size: 1.8rem;
            }

            p {
                font-size: 1.2rem;
            }
        }

        .image-wrapper img {
            height: 300px;
        }

        .team{
            .team-cards{
                gap: 20px;
                flex-wrap: nowrap;
                flex-direction: column;
    
                .team-card img {
                    height: 200px;
                }
    
                h3 {
                    font-size: 1.6rem;
                }
            }

            .office-slides{
                .factory-workers, .employees{
                    width: 380px;
                }
            }
        }


        .values .values-list, .goals {
            gap: 8px;

            li{
                min-width: 250px;
                h3{
                    font-size: 1.6rem;
                }
            }
        }

        .slideshow-container.about-us {
            height: 300px;
            width: 300px;
        }
    }
    
    @media only screen and (max-width: 400px) {
        .hero-section {
            padding: 20px 10px;

            .hero-content h1 {
                font-size: 2rem;
            }

            .hero-content p {
                font-size: 1.2rem;
            }
        }

        .company-overview,
        .goals,
        .values,
        .impact,
        .team {
            h2 {
                font-size: 1.6rem;
            }

            p {
                font-size: 1rem;
            }
        }

        .image-wrapper img {
            height: 200px;
        }

        .team {
            .team-cards{
                gap: 15px;
    
                .team-card img {
                    height: 180px;
                }
    
                h3 {
                    font-size: 1.4rem;
                }
            }

            .office-slides{
                .factory-workers, .employees{
                    width: 300px;
                }
            }
        }

        .values .values-list li {
            min-width: 200px;
        }

        .slideshow-container.about-us {
            height: 200px;
            max-width: 300px;
        }
    }
}

@media only screen and (max-width: 360px) {
    .aboutUsPage {
        font-size: 0.9rem;

        .hero-section {
            padding: 15px 5px;

            .hero-content h1 {
                font-size: 1.8rem;
            }

            .hero-content p {
                font-size: 1rem;
            }
        }

        .company-overview,
        .goals,
        .values,
        .impact,
        .team {
            h2 {
                font-size: 1.4rem;
            }

            p {
                font-size: 0.9rem;
            }
        }

        .goals{
            .goal-content{
                .goal{
                    flex-basis: 250px;
                }
            }
        }

        .image-wrapper img {
            height: 150px;
        }

        .team .team-cards {
            gap: 10px;

            .team-card img {
                height: 150px;
            }

            h3 {
                font-size: 1.2rem;
            }
        }

        .values .values-list li {
            min-width: 180px;
        }

        .slideshow-container.about-us {
            height: 150px;
        }
    }    
}