.productDetail{
    padding: 10px 12px;
    
    @media only screen and (max-width: 1024px){
        padding: 8px 10px;
    }

    @media only screen and (max-width: 900px){
        padding: 6px 8px;
    }

    @media only screen and (max-width: 400px){
        padding: 5px;
    }

    h1{
        font-size: 2.8rem;
        color: var(--logo-blue);
        text-align: center;
    }

    .cards-container{
        margin-bottom: 30px;

        &.product-detail{
            .card .card-content h3{
                display: none;
            }
        }
    }

    @media only screen and (max-width: 1024px) {        
        h1 {
            font-size: 2.6rem;
        }
    
        .cards-container {
            gap: 30px;
    
            &.product-detail {
            .card {
                max-width: 500px;
    
                    .card-img {
                        height: 400px;
                    }
        
                    .card-content p {
                        font-size: 1.4rem;
                    }
                }
            }
        }
    }
    
    @media only screen and (max-width: 900px) {
        h1 {
            font-size: 2.4rem;
        }
    
        .cards-container {
            gap: 20px;
    
            &.product-detail {
                .card {
                    max-width: 400px;
        
                    .card-img {
                        height: 350px;
                    }
        
                    .card-content p {
                        font-size: 1.4rem;
                    }
                }
            }
        }
    }
    
    @media only screen and (max-width: 768px) {
        h1 {
            font-size: 2.2rem;
        }
    
        .cards-container {
            flex-direction: column;
            align-items: center;
            gap: 15px;
    
            &.product-detail {
                .card {
                    max-width: 90%;
                    padding: 8px;
        
                    .card-img {
                        height: 300px;
                    }
                }
            }
        }
    }
    
    @media only screen and (max-width: 400px) {
        h1 {
            font-size: 2rem;
        }
    
        .cards-container {
            gap: 10px;
    
            &.product-detail {
                .card {
                    padding: 6px;
        
                    .card-img {
                        height: 250px;
                    }
        
                    .card-content p {
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }
    
    @media only screen and (max-width: 360px) {
        h1 {
            font-size: 1.8rem;
        }
    
        .cards-container {
            gap: 8px;
    
            &.product-detail {
                .card {
                    padding: 5px;
        
                    .card-img {
                        height: 200px;
                    }
                }
            }
        }
    }  
}