.productsAndTechnologyPage{
    padding: 10px 0;

    .products-section, .tech-section{
        margin: 20px 0;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 20px;

        h2{
            font-size: 2.4rem;
            color: var(--logo-blue);
        }
    }

    .products-section .cards-container .card.products{
        cursor: pointer;
        
        .caption{
            display: none;
        }
    }

    @media only screen and (max-width: 1024px) {
        .products-section, .tech-section {
            h2 {
                font-size: 2.2rem;
            }
    
            .cards-container {
                gap: 25px;
            }
        }
    
        .products-section .cards-container .card.products {
            .caption {
                display: none;
            }
        }
    }
    
    @media only screen and (max-width: 900px) {
        .products-section, .tech-section {
            gap: 10px;
    
            h2 {
            font-size: 2rem;
            }
        }
    }
    
    @media only screen and (max-width: 768px) {
        .products-section, .tech-section {
            h2 {
                font-size: 1.8rem;
            }
        }
    
        .products-section .cards-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 25px;

            .card.products{
                width: 500px;
            }
        }
    }

    @media only screen and (max-width: 530px){
        .products-section .cards-container .card.products{
            width: 400px;
        }
    }
    
    @media only screen and (max-width: 430px){
        .products-section .cards-container .card.products{
            width: 300px;
        }
    }
    
    @media only screen and (max-width: 400px) {
        .products-section, .tech-section {
            h2 {
                font-size: 1.6rem;
            }
        }
    
        .products-section .cards-container .card.products {
            font-size: 1.2rem;
            width: 250px;
        }
    }
    
    @media only screen and (max-width: 360px) {
        .products-section, .tech-section {
            h2 {
                font-size: 1.4rem;
            }
        }
    
        .products-section .cards-container .card.products {
            font-size: 1rem;
        }
    }
}